@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --background-color: #333333;
    --peach-color: #EEA47FFF;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color) !important;
}

/* Navbar */

.nav-section .navbar-brand {
    font-size: 28px;
}

.nav-section .navbar-brand span {
    color: var(--peach-color);
    font-size: 40px;
}

.nav-section .navbar-nav li {
    margin: 0px 10px;
}

.nav-section .navbar-nav li a {
    color: white !important;
    font-size: 16px;
}

.nav-section .navbar-nav .nav-link::after {
    text-decoration: none;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
}

.nav-section .navbar-nav .nav-link:hover::after {
    width: 100%;
    transition: width 0.3s;
}


/* Landing Page */
.landing-page .row {
    display: flex;
    align-items: center;
    height: 70vh;
}

.landing-page .row h1,h3 {
    color: white;
}

.landing-page .row h1 {
    font-size: 60px;
    font-weight: 4700;
    margin-bottom: 20px;
}

.landing-page .row h3 {
    font-size: 40px;
}

/* About Me */
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    border-radius: 3px;
}

.about-section {
    background-color: rgb(68, 65, 65);
}
.about-section h1, p {
    color: white;
}

.about-section #heading {
    font-weight: 600;
    font-size: 40px;

}

.about-section hr {
    margin: 0px;
    border: 1px solid var(--peach-color);
    width: 100px;
    margin-bottom: 10px;
}


/* Projects section */
.projects-section h1 {
    padding-top: 75px;
    
}

.projects-section {
    background-color: var(--background-color);
}

.projects-section .nav-tabs {
    border: none;
    width: 30%;
    
}

.projects-section .nav-tabs .nav-link.active {
    border: none;
    color: white;
    border-bottom: 2px solid var(--peach-color) !important;
    background: transparent;
}

.projects-section .nav-tabs .nav-link.active:hover {
    border-bottom: 2px solid var(--peach-color) !important;
}

.projects-section .nav-tabs .nav-link:hover {
    border: none;
}

.projects-section .tab-content .card {
    float: left;
    max-width: 25%;
    margin: 30px;
    height: auto;
}

/* Contact Section */
.contact-section {
    background-color: rgb(68, 65, 65);
    padding-bottom: 170px;
    padding: 50px;
}

.contact-section .heading {
    font-weight: 600;
    font-size: 50px;
}

.contact-section hr {
    border: 1px solid var(--peach-color);
    width: 100px;
    margin: 12px 0px;
}

.contact-section form .form-control {
    border: 2px solid black;
    border-radius: 2px;
    margin-bottom: 20px;
}

.contact-section form button {
    border-radius: 5px;
    border: 2px solid black;
    background: var(--peach-color);
    color: white;
}

.contact-section ul li {
    color: white;
    font-size: 15px;
    margin-bottom: 10px; 
}

/* footer section */
.footer-content li {
    color: white;
}

.footer-content .heading {
    font-size: 15px;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 10px;
}